.github {
  margin-bottom: 25px;
  margin-top: -20px;
  margin-left: -25px;
  margin-right: -25px;
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
}

.stats {}

.languages {}

@media only screen and (min-width: 1455px) {
  .stats {
    max-width: 465px;
  }
  .languages {
    max-width: 335px;
  }
}
