@import '../../styles/variables';

.workPart {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.workPartItem {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.blocksIndent {
  padding-top: 98px;
}

@media (max-width: $widthScreenTabletDefault) {
  .workPart {
    flex-flow: column;
  }
  .workPartItem {
    width: 100%;
  }
  .blocksIndent {
    padding-top: 30px;
  }
}
