.description {
  margin-bottom: 50px;
  ul {
    margin-left: 16px;
  }
}

.infoList {
  margin-bottom: 50px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
  }
  .title {
    color: #fea621;
    margin-right: 5px;
    font-weight: 600;
  }
}
