@import '../../styles/variables';

.workPart {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: $defaultIndent;
}
%workPartItem {
  padding: 10px;
  box-sizing: border-box;
}
.workPartHistory {
  @extend %workPartItem;
  width: 60%;
}
.workPartBlocks {
  @extend %workPartItem;
  width: 40%;
  padding-top: 98px;
}
.personalCardMobile {
  display: none;
  margin: $defaultIndent;
}
.personalCardDesktop {
  display: block;
}

@media (max-width: $widthScreenTabletDefault) {
  .workPart {
    flex-flow: column;
  }
  .workPartHistory {
    width: 100%;
  }
  .workPartBlocks {
    padding-top: 30px;
    width: 100%;
  }
  .personalCardMobile {
    display: block;
  }
  .personalCardDesktop {
    display: none;
  }
}
@media (max-width: $widthScreenMobileLarge) {
  .workPart {
    flex-flow: column;
    padding: 0;
  }
}
