// Colors
$gray: #f2f2f2;
$darkGray: #23282d;
$darkGrayActive: #161b20;
$orange: #fba51a;
$blue: #0079c1;
$green: #40bea9;
$darkGreen: #179d82;

// Screen sizes - for media queries use: @media (min-width: $widthScreenMobileSmall) {}
$widthScreenMobileSmall:      320px;    // iPhone 5, SE
$widthScreenMobileMedium:     375px;    // iPhone 6,7,8,X
$widthScreenMobileLarge:      480px;    // iPhone (6,7,8) Plus, Xr, Xs Max, X Pro
$widthScreenTabletSmall:      600px;
$widthScreenTabletPortrait:   768px;    // iPad vertical
$widthScreenTabletDefault:    1024px;   // iPad horizontal
$widthScreenLaptopSmall:      1200px;
$widthScreenLaptopDefault:    1376px;
$widthScreenDisplayDefault:   1440px;
$widthScreenDisplayLarge:     1920px;

// Main settings
$bodyFont:          14px/18px 'Open Sans', Roboto, Arial, Tahoma, Verdana, sans-serif;
$bodyFontSize:      14px;
$defaultIndent:     10px;

// Header
$headerBackground:      $darkGray;
$headerBorderColor:     rgba(0,0,0,.2);
$headerTextColor:       #ffffff;
$headerIndent:          15px;
$headerHeight:          53px;
$navActiveBackground:   $darkGrayActive;

// Card
$cardIndent:            15px;
