@import '../../styles/variables';

.skills {
  list-style: none;
  margin-bottom: 50px;
}

.skillItem {
  display: inline-block;
  background-color: #fea621;
  border-radius: 3px;
  color: #fff;
  padding: 1px 10px;
  margin: 3px 2px;
  font-size: 13px;
}
