@import '../../styles/variables';

$avatarSize: 150px;

.profile {
  display: flex;
  flex-flow: row;
}
.avatar {
  width: $avatarSize;
  min-width: $avatarSize/2;
  height: $avatarSize;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.profileItems {
  display: flex;
  flex-flow: column;
  padding-top: 15px;
}
.profileItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px 0 5px 20px;
  .icon {
    font-size: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .name {
  }
  a {
    color: $blue;
  }
}

@media (max-width: $widthScreenMobileSmall) {
  .profile {
    flex-flow: column;
  }
  .avatar {
    width: 100%;
  }
}
