@import '../../styles/variables';

.books {
}

.bookItem {
  padding: 10px 15px;
  border-bottom: 1px solid #e7eaec;
  cursor: pointer;
  &:hover {
    background: $gray;
  }
  &:last-child {
    border-bottom: none;
  }
}

.bookName {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3px;
  text-decoration: none;
  margin-right: 10px;
  color: $blue;
}
.author {
  font-size: 12px;
  line-height: 15px;
}
