@import '../../styles/variables';

.books {
}

.bookItem {
  padding: 10px 15px;
  border-bottom: 1px solid #e7eaec;
  &:last-child {
    border-bottom: none;
  }
}

.bookName {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
  color: $green;
  &:hover {
    color: $darkGreen;
  }
}
.author {
  font-size: 12px;
}
