@import '../../styles/variables';

.workItem {

}
.company {
  font-weight: bold;
  color: $orange;
}
.position {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
.location {
  margin-bottom: 5px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}
.description {
  line-height: 19px;
  font-size: 13px;
  color: rgba(0,0,0,0.6);
  ul {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
  }
}
