@import '../../styles/variables';

.header {

}

.headerPhoto {
  position: relative;
  width: 180px;
  margin: 0 auto 30px;
  z-index: 1;
  img {
    max-width: 100%;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 300px;
  }
  &:after {
    position: absolute;
    opacity: 0.3;
    top: 7%;
    left: 7%;
    border-radius: 300px;
    content: '';
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: -1;
  }
}

.headerTitles {
  h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0 7px;
    line-height: 1.2em;
  }
  h4 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 5px 0;
    line-height: 1.2em;
  }
}

.socialLinks {
  margin: 20px 0;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
        padding: 0;
        height: 30px;
        width: 30px;
        display: block;
        line-height: 30px;
        text-align: center;
        opacity: .9;
        &:hover {
          opacity: 1;
          background-color: rgba(255,255,255,.2);
        }
      }
    }
  }
}

.headerButtons {
  margin-top: 50px;
  .btnPrimary {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: #fff;
      color: #fea621;
      border-color: #fff;
    }
  }
}

.copyrights {
  color: #fff;
  width: 380px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px 15px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .header {
    display: inline-block;
    float: left;
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 80vh;
    min-height: inherit;
    text-align: center;
    padding: 70px 30px 45px;
    overflow: auto;
  }
}
