@import '../../styles/variables';

.header {

}

.headerPhoto {
  position: relative;
  width: 180px;
  margin: 0 auto 30px;
  z-index: 1;
  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 300px;
  }
  &:after {
    position: absolute;
    opacity: 0.3;
    top: 7%;
    left: 7%;
    border-radius: 300px;
    content: '';
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: -1;
  }
}

.headerTitles {
  h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0 7px;
    line-height: 1.2em;
  }
  .desc {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 5px 0;
    line-height: 1.2em;
  }
}

.socialLinks {
  margin: 20px 0;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
        padding: 0;
        height: 30px;
        width: 30px;
        display: block;
        line-height: 30px;
        text-align: center;
        opacity: .9;
        &:hover {
          opacity: 1;
          background-color: rgba(255,255,255,.2);
        }
      }
    }
  }
}

.headerButtons {
  margin-top: 50px;
  .btnPrimary {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: #fff;
      color: #fea621;
      border-color: #fff;
    }
  }
}

.copyrights {
  color: #fff;
  width: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px 15px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.menuToggle {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 46px;
  text-align: center;
  background-color: #fea621;
  right: 10px;
  font-size: 19px;
  top: 10px;
  border-radius: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 900;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    left: 25%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 16px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 22px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 28px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
  &.open span {
    &:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 13px;
      left: 15px;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 30px;
      left: 15px;
    }
  }

}

@media only screen and (min-width: 1025px) {
  .header {
    display: inline-block;
    float: left;
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 80vh;
    min-height: inherit;
    text-align: center;
    padding: 70px 30px 45px;
    overflow: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    position: absolute;
    width: 100%;
    max-width: 330px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fea621;
    z-index: 99;
    padding: 30px 30px 10px 30px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    overflow: auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    .copyrights {
      right: 0;
      width: 100%;
      position: relative;
      margin-top: 30px;
    }
  }
  .headerTitles {
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 17px;
    }
  }

  .headerPhoto {
    max-width: 130px;
    margin-bottom: 25px;
  }

  .menuHide {
    width: 0;
    right: 0;
    margin-right: -100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1025px) {
  .menuToggle {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .header {
    max-width: 330px;
    .headerTitles {
      h2 {
        font-size: 32px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
}
