@import '../../styles/variables';

.header {
  background: $headerBackground;
  width: 100%;
  min-width: $widthScreenMobileSmall;
  border-bottom: 1px solid $headerBorderColor;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: $headerHeight;
}

.logoBlock {
  margin-left: 8px;
  display: flex;
  flex-flow: row;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  background: url(img/logo.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.name {
  font-size: 22px;
  line-height: 32px;
  padding: 10px 0;
  height: 32px;
  font-weight: 100;
  color: $headerTextColor;
}
