@import '../../styles/variables';

.footer {
  background: white;
  border-top: 1px solid #e7eaec;
  height: $footerHeight;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
