name: Deploy
on: pull_request
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Upload ftp
      uses: sebastianpopp/ftp-action@releases/v1
      with:
        host: ${{ secrets.host }}
        user: ${{ secrets.user }}
        password: ${{ secrets.password }}
        localDir: "public"
        remoteDir: "/"
