name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [13.2.0]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        yarn install
        yarn build --if-present
        yarn test
      env:
        CI: true
    - name: Deploy
      uses: sebastianpopp/ftp-action@releases/v1
      with:
        host: ${{ secrets.host }}
        user: ${{ secrets.user }}
        password: ${{ secrets.password }}
        localDir: "dist"
        remoteDir: ""
